Projeto (2).pdf
PI Data Science/01. Lógica de Programação e Programação Orientada a Objetos/05. Funções e Bibliotecas/__pycache__/*.pyc
PI Data Science/05. Machine Learning/aulas/módulo 5/datasets/
PI Data Science/05. Machine Learning/datasets/
Data Science/datasets
PI Data Science/03. Bibliotecas e APIs/03. Visualização de Dados matplotlib/img/
PI Data Science/07. Dados Não Estruturados/mini-genres
*.wav
*.pyc